<%- include('./partials/header.html') %>
<%- include('./partials/navbar.html') %>
        <main style="min-height: 400px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-bottom: 30px;">
                        <a href="javascript:history.back()" class="nav-button-secondary">Back</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                        <h2 style="margin-top: -10px!important;">Add Restaurant</h2>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
                    <div class="col-lg-12" style="margin-top: 30px;">
                        <div id="add-to-list"></div>
                    </div>
                </div>
            </div>
        </main>
        <script>
            var ownerId = "<%= id %>";
        </script>
        <%- include('./partials/footer.html') %>