<%- include('./partials/header.html') %>
<%- include('./partials/navbar.html') %>

<div class="container">
    <h1>New place</h1>
    <div class="columns">
        <div class="column col-2" style="border-right: 1px solid #eee;">
            <ul class="nav">
                <li class="nav-item">
                    <a href="javascript:void(0)">General</a>
                    <ul class="nav">
                        <li class="nav-item"><a href="javascript:void(0)">Facilities</a></li>
                        <li class="nav-item"><a href="javascript:void(0)">Operational times</a></li>
                        <li class="nav-item"><a href="javascript:void(0)">Banners</a></li>
                        <li class="nav-item"><a href="javascript:void(0)">Medias</a></li>
                        <li class="nav-item"><a href="javascript:void(0)">Call to Actions</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="javascript:void(0)">Menus</a></li>
                <li class="nav-item"><a href="javascript:void(0)">Galleries</a></li>
                <li class="nav-item"><a href="javascript:void(0)">Covid-19</a></li>
            </ul>
        </div>
        <div class="column col-10">
            
        </div>
    </div>
</div>

<%- include('./partials/footer.html') %>