<%- include('./partials/header.html') %>
<%- include('./partials/navbar.html') %>

<div class="container" style="margin-top: 10px;">
    <a class="btn btn-primary mb-2" href="/admin/owners/new">Add Owner</a>
    <div class="columns mt-2" id="list-owner">
        <div class="column col-2" style="border-right: 1px solid #eee;">
            <%- include('./partials/list_owner_nav.html') %>
        </div>
        <div class="column col-10">
            <%- include('./partials/list_owners/all_owners.html') %>
            <%- include('./partials/list_owners/update_soon.html') %>
            <%- include('./partials/list_owners/updated.html') %>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
<% if(locals.name){%>
<script>
    var username = <%- JSON.stringify(name) %>;
</script>
<%}%>
<%- include('./partials/footer.html') %>
