<div v-if="sideMenuIndex == 5">
    <h1>Call to Actions</h1>
    <div class="columns">
        <div class="column col-3">
            <div class="form-group">
                <label class="form-label">Name</label>
                <input class="form-input" type="text" readonly value="Telusuri Lokasi">
            </div>
        </div>
        <div class="column col-9">
            <div class="form-group">
                <label class="form-label">Link Google Map</label>
                <input class="form-input" type="text" v-model="form.call_to_actions[0].value">
            </div>
        </div>
        <div class="column col-3">
            <div class="form-group">
                <label class="form-label">Name</label>
                <input class="form-input" type="text" readonly value="Chat Whatsapp">
            </div>
        </div>
        <div class="column col-9">
            <div class="form-group">
                <label class="form-label">Nomor WA</label>
                <input class="form-input" type="text" v-model="form.call_to_actions[1].value">
            </div>
        </div>
    </div>
</div>