<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 bg-red">
    <div class="container text-center text-md-left text-white">
        <div class="row text-center text-md-left mt-3 row-info-footer">
            <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mt-3 text-center">
                <div class="row">
                    <div class="col-12">
                        <img alt="Logo Emam" class="footer-img" src="/assets/images/logo-emam-invert-small.png">
                        <div class="row justify-content-center mt-4">
                            <a href="https://www.instagram.com/emam.id/" target="_blank">
                                <img alt="" class="ic-social-media mb-2"
                                     src="/assets/images/icon/emam-instagram-white.svg">
                            </a>
                            <a href="https://www.instagram.com/emam.id/" target="_blank">
                                <img alt="Instagram emam" class="ic-social-media"
                                     src="/assets/images/icon/emam-instagram-white.svg"
                                     style="max-width: 40px; margin: 0 10px; width: 100%;">
                            </a>
                            <a href="https://wa.me/message/WFB2SLFGSNBZJ1" target="_blank">
                                <img alt="WhatsApp emam" class="ic-social-media"
                                     src="/assets/images/icon/emam-whatsapp-white.svg"
                                     style="max-width: 40px; margin: 0 10px; width: 100%;">
                            </a>
                            <a href="https://www.linkedin.com/company/emam-id/" target="_blank">
                                <img alt="Linkedin emam" class="ic-social-media"
                                     src="/assets/images/icon/emam-linkedin-white.svg"
                                     style="max-width: 40px; margin: 0 10px; width: 100%;">
                            </a>
                            <a href="https://www.youtube.com/c/emamindonesia/" target="_blank">
                                <img alt="Youtube emam" class="ic-social-media"
                                     src="/assets/images/icon/emam-youtube-white.svg"
                                     style="max-width: 40px; margin: 0 10px; width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-xl-4 col-lg-4 col-md-12 mt-4">
                <h4 class="txt-footer">Our Company</h4>
                <a class="txt-footer no-sp link-footer" href="/about">Tentang Kami</a>
                <a class="txt-footer no-sp link-footer" href="/about#contactus">
                    <p>Hubungi Kami</p>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mt-4">
                <h4 class="txt-footer">Daftarkan Tempat Makanmu di emam</h4>
                <a class="txt-footer no-sp link-footer" href="https://wa.me/message/WFB2SLFGSNBZJ1" target="_blank">
                    <p>Hubungi kami disini!</p>
                </a>
                <!-- <h4 class="txt-footer mt-4">Untuk Kamu</h4>
                <a class="txt-footer no-sp link-footer" href="/sitemap">Sitemap</a> -->
            </div>
        </div>
        <hr>
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-12">
                <!--Copyright-->
                <p class="text-center">Copyright &copy;2019 PT Zaki Indonesia Mendunia. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<!-- Service worker -->
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/assets/js/sw.js')
                .then(registration => {
                    console.log(`Service Worker registered! Scope: ${registration.scope}`);
                })
                .catch(err => {
                    console.log(`Service Worker registration failed: ${err}`);
                });
        });
    }
</script>
​
<!-- Bootstrap -->
<script crossorigin="anonymous"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="/assets/js/main.js"></script>
<% if(locals.loadJS){ %>
<% locals.loadJS.forEach(e =>{ %>
<script src="<%= e.src %>"></script>
<% }) %>
<% } %>
​
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-M3Z4GRJ"
            style="display:none;visibility:hidden"
            width="0"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
​
</html>
