<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="emam.id" name="author"/>
    <meta content="Bingung mau emam apa? #TanyaEmamAja" name="description"/>
    <meta content="website" property="og:type"/>
    <meta content="emam Indonesia" property="og:title"/>
    <meta content="Bingung mau emam apa? #TanyaEmamAja" property="og:description"/>
    <meta content="images/logo/logo.png" property="og:image"/>
    <meta content="emam Indonesia" property="og:site_name"/>
    <meta content="https://emam.id/" property="og:url"/>
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Bingung mau emam apa? #TanyaEmamAja" name="twitter:description">
    <meta content="emam Indonesia" name="twitter:title">
    <meta content="images/logo/logo.png" name="twitter:image">
    <meta content="Makanan, Food, Kuliner" name="keywords">
    ​
    <title><%= locals.pageTitle %></title>
    <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon">
    ​
    <!-- library style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- library font -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Muli:400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    ​
    <!-- icon -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
    ​
    <!-- style css -->
    <link href="/assets/styles/main-style.css" rel="stylesheet">
    <% if(locals.loadCSS){ %>
    <% locals.loadCSS.forEach(e =>{ %>
    <link rel="stylesheet" href="<%= e.src %>">
    <% }) %>
    <% } %>
    ​
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170625997-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170625997-1');
    </script>
    ​
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M3Z4GRJ');</script>
    <!-- End Google Tag Manager -->
    ​
</head>
​
<body>
    <div id="btntoTop" class="btn-to-top" style="display: none;">
        <i class="fa fa-arrow-up"></i>
    </div>