<div class="container-fluid">
    <!-- navigasi bar -->
    <nav id="navigasi-fix" class="row navbar navbar-expand-lg bg-red">
        <div class="container">
            <!-- image brand -->
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo-emam-small.png" alt="Logo emam Indonesia" />
            </a>
            <!-- navbar toogle icon -->
            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
                data-target="#navb">
                <span class="navbar-toggler-icon custom-icon"></span>
            </button>
            <!-- menu navbar -->
            <div class="collapse navbar-collapse" id="navb">
                <ul class="nav navbar-nav ml-auto mr-3">
                    <li class="nav-item mx-md-2 my-1">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-md-2 my-1">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
