<div class="bg-gray">
    <header class="navbar container">
        <section class="navbar-section">
            <a href="/admin/secretadmin/add" class="btn btn-link">Add User</a>
            <a href="/admin/secretadmin/view" class="btn btn-link">Manage User</a>
        </section>
        <section class="navbar-center">
            <img src="/assets/images/logo_emam_100x100.webp" class="adm-logo" alt="logo emam">
        </section>
        <section class="navbar-section">
            <a href="/admin/logout" class="btn btn-link">Logout</a>
        </section>
    </header>
</div>