<%- include('./partials/header.html') %>
<%- include('./partials/top-nav.html') %>
<main>
    <div class="container-fluid">
        <section class="section-404 row justify-content-center">
            <div class="container text-center my-auto">
                <div class="row">
                    <div class="col-12">
                        <div class="img-layout my-auto">
                            <img class="img-404" src="/assets/images/emam-404-halaman-tidak-ditemukan.svg" alt="Under construction image">
                            <p class="mt-4"><a href="/">Kembali ke halaman beranda</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<%- include('./partials/footer.html') %>
