<%- include('./partials/header.html') %>
<%- include('./partials/top-nav.html') %>
<main class="main-about">
    <section class="section-about">
        <div class="container">
            <div class="row row-about justify-content-center">
                <div class="col-12 text-center my-auto">
                    <img class="img-logo-emam-about" src="/assets/images/emam-logo.svg" alt="">
                    <h5 class="txt-header mt-4 no-sp">Selamat datang di halaman tentang emam.</h5>
                    <h5 class="txt-header no-sp">Kami selalu berusaha memberikan kemudahan di dunia kuliner.</h5>
                    <h5 class="txt-header no-sp">Simak selengkapnya dibawah.</h5>
                </div>
                <img class="img-circle-ornament" src="/assets/images/emam-circle-ornament-2.svg" alt="">
            </div>
        </div>
    </section>
    <section class="section-cerita-kami">
        <div class="container">
            <div class="row row-cerita-kami justify-content-center">
                <div class="col-md-6 col-12 text-center">
                    <img class="img-our-story" src="/assets/images/emam-our-story.svg" alt="">
                </div>
                <div class="col-md-6 col-12 my-auto">
                    <h2>Cerita Kami</h2>
                    <p>Kami dari emam adalah pecinta kuliner. Kami senang mencari berbagai tempat makan yang enak
                        dan menyebarkan kebahagiaan
                        kami kepada orang lain. Menurut kami, makanan enak layak diketahui oleh orang banyak. Oleh
                        karena itu kami membangun
                        emam untuk memudahkan perjalanan kuliner teman-teman semua.</p>
                </div>
            </div>
            <img class="img-circle-ornament" src="/assets/images/emam-circle-ornament-2.svg" alt="">
        </div>
    </section>
    <section class="section-visi-kami">
        <div class="container">
            <div class="row row-visi justify-content-center">
                <div class="col-md-6 col-12 my-auto">
                    <h2>Visi Kami</h2>
                    <p>Kami mendirikan emam sebagai startup yang memiliki fokus mendekatkan makanan kepada kita.
                        Kami ingin membangun ekosistem
                        kuliner digital dengan membuat Vertical SaaS untuk membantu pengusaha kuliner mengelola
                        usahanya dan membuat platform
                        aggregator tempat makanan. Karena makanan enak layak untuk diketahui khalayak luas.</p>
                </div>
                <div class="col-md-6 col-12 text-center my-auto">
                    <img class="img-visi" src="/assets/images/emam-vision.svg" alt="">
                </div>
            </div>
            <img class="img-circle-ornament" src="/assets/images/emam-circle-ornament-2.svg" alt="">
        </div>
    </section>
    <section class="section-team">
        <div class="container">
            <div class="row row-team justify-content-center text-center">
                <div class="col-12">
                    <h2 class="txt-title">Tim Kami</h2>
                </div>
                <div class="col-lg-3 col-md-6 col-12 my-2">
                    <div class="card card-layout text-center p-1 m-1">
                        <img class="img-team mx-auto" src="/assets/images/emam-team-zaki.svg" alt="CEO & Founder emam">
                        <h4>Zaki Muhammad</h4>
                        <p>CEO & Founder</p>
                        <a href="https://www.linkedin.com/in/zaki-muhammad/">
                            <img class="ic-social-media" src="/assets/images/emam-linkedin.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 my-2">
                    <div class="card card-layout text-center p-2 m-2">
                        <img class="img-team mx-auto" src="/assets/images/emam-team-brama.svg"
                            alt="COO & Co-Founder emam">
                        <h4>Brama Ramadhan</h4>
                        <p>COO & Co-Founder</p>
                        <a href="https://www.linkedin.com/in/bramaramadhan/">
                            <img class="ic-social-media" src="/assets/images/emam-linkedin.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 my-2">
                    <div class="card card-layout text-center p-2 m-2">
                        <img class="img-team mx-auto" src="/assets/images/emam-team-product.svg"
                            alt="Product Team emam">
                        <h4>IT Engineers</h4>
                        <p>Product Team</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 my-2">
                    <div class="card card-layout text-center p-2 m-2">
                        <img class="img-team mx-auto" src="/assets/images/emam-creative-team.svg"
                            alt="Creative Team emam">
                        <h4>Designers</h4>
                        <p>Creative Team</p>
                    </div>
                </div>
            </div>
            <img class="img-circle-ornament" src="/assets/images/emam-circle-ornament-2.svg" alt="">
        </div>
    </section>
    <section class="section-contact-us">
        <div class="container">
            <div class="row" id="contactus">
                <div class="col-12 text-center">
                    <h2 class="txt-title">Hubungi Kami</h2>
                </div>
                <div class="col-md-6 col-12 text-center my-auto">
                    <a href="https://www.instagram.com/emam.id/" target="_blank">
                        <div class=" social-media instagram">
                            <img class="ic-social-media mb-2" src="/assets/images/emam-instagram.svg" alt="">
                            <p>Instagram</p>
                        </div>
                    </a>
                    <a href="https://wa.me/message/WFB2SLFGSNBZJ1" target="_blank">
                        <div class="social-media whatsapp">
                            <img class="ic-social-media mb-2" src="/assets/images/emam-whatsapp.svg" alt="">
                            <p>WhatsApp</p>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/company/emam-id/" target="_blank">
                        <div class="social-media linkedin">
                            <img class="ic-social-media mb-2" src="/assets/images/emam-linkedin.svg" alt="">
                            <p>Linkedln</p>
                        </div>
                    </a>
                    <a href="https://www.youtube.com/c/emamindonesia/" target="_blank">
                        <div class="social-media youtube">
                            <img class="ic-social-media mb-2" src="/assets/images/emam-youtube.svg" alt="">
                            <p>Youtube</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-12 text-center">
                    <img class="img-contact-us mt-2" src="/assets/images/emam-contact-us.svg" alt="">
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer -->
<%- include('./partials/footer.html') %>