<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="emam.id" />
    <meta name="description" content="Bingung mau emam apa? #TanyaEmamAja" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="emam Indonesia" />
    <meta property="og:description" content="Bingung mau emam apa? #TanyaEmamAja" />
    <meta property="og:image" content="images/logo/logo.png" />
    <meta property="og:site_name" content="emam Indonesia" />
    <meta property="og:url" content="https://emam.id/" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Bingung mau emam apa? #TanyaEmamAja">
    <meta name="twitter:title" content="emam Indonesia">
    <meta name="twitter:image" content="images/logo/logo.png">
    <meta name="keywords" content="Makanan, Food, Kuliner">

    <title>emam - Bingung mau emam apa? #TanyaEmamAja</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <!-- library style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- library font -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Muli:400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- icon -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- style css -->
    <link rel="stylesheet" href="/assets/styles/coming-soon.css">

</head>

<body>
<section class="section-coming-soon">
    <div class="container">
        <div class="row row-coming-soon justify-content-center">
            <img class="img-ornament-coming" src="/assets/images/emam-food-ornament.svg" alt="" />
            <img class="img-tech-coming d-none d-md-block" src="/assets/images/emam-tech.svg" alt="" />
            <div class="col-12 text-center my-auto">
                <img class="img-logo mb-4" src="/assets/images/emam-logo.svg" alt="">
                <h3 class="txt-coming-soon">Segera Hadir Di Bandung</h3>
                <p class="release-date">09.09.2020</p>
                <a href="https://www.instagram.com/emam.id/?hl=id"><img class="ic-instagram-coming mb-4"
                        src="/assets/images/icon/emam_host_instagram.svg" alt=""></a>
                <img class="img-cirle-coming" src="/assets/images/emam-circle-ornament.svg" alt="">
            </div>
        </div>

    </div>
</section>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>