<%- include('./partials/header.html') %>
<%- include('./partials/top-nav.html') %>
<div class="container">
    <div class="pd-layout-section">
        <section class="section-profile row justify-content-center">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="text-center" style="display: block">
                    <h4>Ubah Foodlist</h4>
                    <img src="/assets/images/emam-coffee-shop.png" class="image-rectangle mx-auto mb-3"
                        style="display: block;">
                    <a href="#">
                        <p class="mx-auto" style="display: inline;">Ubah cover foodlist</p>
                    </a>
                </div>
                <div class="form-group mt-48">
                    <label>Judul</label>
                    <input class="form-control box-text">
                </div>
                <div class="form-group">
                    <label>Deskripsi (Opsional)</label>
                    <textarea class="form-control box-text" required="required" rows="4" style="resize: none;"
                        type="text"></textarea>
                </div>
                <div class="form-group">
                    <p class="no-sp" style="font-weight: bold;">Rahasiakan foodlist ini</p>
                    <p class="text-grey">Jadi, hanya anda yang dapat melihatnya.</p>
                    <div class="switch-group">
                        <!-- <span class="my-auto">Public</span> -->
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <!-- <span class="my-auto">Rahasiakan</span> -->
                    </div>
                </div>
                <p>anda perlu bantuan? <a href="#">hubungi kami</a></p>
                <a href="/foodlist"><button class="btn btn-border mr-2">Kembali</button></a>
                <button class="btn btn-fill">Simpan</button>
            </div>
        </section>
    </div>
</div>
<%- include('./partials/footer.html') %>