<%- include('./partials/header.html') %>
<%- include('./partials/top-nav.html') %>
<header class="text-center" id="header-index">
    <h1>
        <div class="textheader1">Bingung cari tempat makan enak?</div>
        <div class="textheader2 text-inline">mungkin kamu bisa coba foodlist <div class="emamfont">emam</div>
        </div>
    </h1>
    <div class="search-box">
        <div class="form-group has-search col-md-4" style="position: absolute; z-index: 99">
            <span class="fa fa-search form-control-cari"></span>
            <input type="text" id="search_food" placeholder="Cari tempat makan" autocomplete="off"
                class="form-control input-lg food_search" />
            <div id="result">
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="pd-layout">
            <section class="section-kategori row justify-content-center" style="padding: 10px 0;
                background-color: #fcfdfb;">
                <div class="container">
                    <div class="row">
                        <h3 class="ml-2 txt-h-title-tempatmakan">Kategori</h3>
                        <a class="ml-auto mr-4 mt-2 txt-lihat-semua" href="tempatmakan.php">
                            <p>Lihat Semua</p>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-6 card-container">
                            <a href="#">
                                <div class="card-kategori my-2">
                                    <h4 class="txt-kategori" style="color: #fff;">Cafe</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-tempatmakan row justify-content-center" id="detail-foodlist">
                <div class="container">
                    <div class="row">
                        <h3 class="ml-2 txt-h-title-tempatmakan">Tempat Makan Terbaru</h3>
                        <a class="ml-auto mr-4 mt-2 txt-lihat-semua" href="/explore">
                            <p>Lihat Semua</p>
                        </a>
                    </div>
                    <div class="row">
                        <% if(locals.newPlaces){ %>
                        <% for(place of newPlaces){ %>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 my-1 card-container">
                            <a href="/p/<%= place.slug %>">
                                <div class="card-layout">
                                    <div class="card-box">
                                        <div class="img-box">
                                            <img class="img-tempatmakan"
                                                src="<%= place.photo.path ? place.photo.path : '/assets/images/emam-menu-no-photos.jpg' %>"
                                                alt="Photo Tempat <%= place.name %>" />
                                        </div>
                                        <div class="card-body">
                                            <h4 class="txt-h-nama-tempatmakan"><%= place.name %></h4>
                                            <p class="txt-alamat-tempatmakan"><%= place.address %></p>
                                            <div class="txt-link-detail-tempatmakan">Info Tempat</div>
                                            <!-- <img class="logoemamfoodlist" src="images/logo/logo2.png" alt="logo emam"> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<%- include('./partials/footer.html') %>