<%- include('./partials/header.html') %>
<%- include('./partials/top-nav.html') %>
<main>
    <div class="container">
        <div class="pd-layout-section">
            <section class="section-login row justify-content-center">
                <div class="col-lg-6 col-md-8 col-12 text-center p-4 col-login">
                    <img style="max-width: 100px; margin-bottom: 32px;" src="/assets/images/emam-logo.svg" alt="">
                    <p>Masuk dengan menggunakan:</p>
                    <a href="#" class="btn btn-google" style="margin: 32px 0 16px; ">
                        <img class="mr-2" src="/assets/images/icon/emam-host-google.svg" alt="">
                        Google
                        Account
                    </a>
                    <p>anda perlu bantuan? <a href="" style="color: #e92737;">Hubungi Kami</a></p>
                </div>
            </section>
        </div>
    </div>
</main>
<%- include('./partials/footer.html') %>