<%- include('./partials/header.html') %>
    <%- include('./partials/top-nav.html') %>

        <main>
            <div class="container-fluid">
                <div class="pd-layout-section">
                    <section class="section-tempatmakan row justify-content-center" id="detail-kategori">
                        <div class="container">
                            <div class="row">
                                <% if(locals.allPlaces.length> 0){ %>
                                    <h1 style="width: 100%; text-align:center;">Explore tempat makan</h1>

                                    <% for(place of allPlaces) { %>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 my-1 card-container">
                                            <div class="card-layout">
                                                <div class="card-box">
                                                    <div class="img-box">
                                                        <div class="layout-btn-absolute">
                                                            <!-- <div class="btn-icon inline mx-1" style="cursor: pointer;">
                                                    <img src="/assets/images/icon/emam-host-save-default.svg"
                                                        alt="save button" id="save">
                                                </div> -->
                                                            <div class="btn-icon inline mx-1" style="cursor: pointer;">
                                                                <img data-is-liked="<%= place.is_liked %>" onclick="onWistListClicked('<%= place._id %>',this)" src="/assets/images/icon/emam-host-like-<%= place.is_liked? 'active': 'default' %>.svg"
                                                                     alt="like button" id="like">
                                                            </div>
                                                        </div>
                                                        <a href="/p/<%= place.slug %>">
                                                            <img alt="Photo Tempat <%= place.name %>"
                                                                class="img-tempatmakan"
                                                                src="<%= place.photo.path ? place.photo.path : '/assets/images/emam-menu-no-photos.jpg' %>" />
                                                        </a>
                                                    </div>
                                                    <a href="/p/<%= place.slug %>">
                                                        <div class="card-body">
                                                            <h4 class="txt-h-nama-tempatmakan">
                                                                <%= place.name %>
                                                            </h4>
                                                            <p class="txt-alamat-tempatmakan">
                                                                <%= place.address %>
                                                            </p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% } else if(locals.allMenus.length> 0){ %>
                                                <h1 style="width: 100%; text-align:center;">Explore makan</h1>

                                                <% for(menu of allMenus) { %>
                                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 my-1 card-container">
                                                        <a href="/p/<%= menu.slug %>#menu-<%= menu._id %>">
                                                            <div class="card-layout">
                                                                <div class="card-box">
                                                                    <div class="img-box">
                                                                        <img alt="Photo makanan <%= menu.name %>"
                                                                            class="img-tempatmakan"
                                                                            src="<%= menu.photo.path ? menu.photo.path : '/assets/images/emam-menu-no-photos.jpg' %>" />
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <h4 class="txt-h-nama-tempatmakan">
                                                                            <%= menu.name %>
                                                                        </h4>
                                                                        <p class="txt-alamat-tempatmakan">
                                                                            <%= menu.placeName %>
                                                                        </p>
                                                                        <div class="txt-link-detail-tempatmakan">Info
                                                                            Tempat</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <h2
                                                                style="text-align: center;width: 100%; height: 300px; padding-top: 100px;">
                                                                Yang kamu cari ga
                                                                ada nih, maaf ya :(</h2>
                                                            <% } %>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include('./partials/footer.html') %>