<%- include('./partials/header.html') %>
<%- include('./partials/top-nav.html') %>

<main>
    <div class="container-fluid">
        <div class="pd-layout-section">
            <section class="section-tempatmakan row justify-content-center" id="detail-kategori">
                <div class="container">
                    <div class="row">
                        <h2 class="ml-2 txt-h-title-tempatmakan"><?= $kategori['namakategori'];?></h2>
                        <!-- <a class="ml-auto mr-4 mt-2 txt-lihat-semua" href="foodlist.php">
                            <p>Lihat Semua</p>
                        </a> -->
                    </div>
                    <div class="row">
                        <% if(locals.allPlaces){ %>
                        <% for(place of allPlaces) { %>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 my-1 card-container">
                            <a href="/p/<%= place.slug %>">
                                <div class="card-layout">
                                    <div class="card-box">
                                        <div class="img-box">
                                            <img alt="Photo Tempat <%= place.name %>"
                                                 class="img-tempatmakan"
                                                 src="<%= place.photo ? place.photo.path : '/assets/images/emam-menu-no-photos.jpg' %>"/>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="txt-h-nama-tempatmakan"><%= place.name %></h4>
                                            <p class="txt-alamat-tempatmakan"><%= place.address %></p>
                                            <div class="txt-link-detail-tempatmakan">Info Tempat</div>
                                            <!-- <img class="logoemamfoodlist" src="images/logo/logo2.png" alt="logo emam"> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<!-- Footer -->
<%- include('./partials/footer.html') %>
