<%- include('./partials/header.html') %>
    <%- include('./partials/top-nav.html') %>
        <main>
            <div class="container">
                <div class="pd-layout-section">
                    <h3>Kebijakan Privasi</h3>
                    <p class="mt-4">Kebijakan Privasi merupakan kebijakan emam.id atas segala data pribadi yang pengguna
                        berikan kepada emam.id dan/atau informasi yang dikumpulkan oleh emam.id dari pengguna. Informasi
                        ini kemudian diproses oleh emam.id saat pengguna mengakses, melakukan registrasi, dan
                        menggunakan layanan emam.id.
                    </p>
                    <p>Dengan mengakses dan menggunakan layanan situs emam.id, Pengguna dianggap telah membaca, memahami
                        dan memberikan persetujuannya terhadap pengumpulan dan penggunaan data pribadi Pengguna
                        sebagaimana diuraikan di bawah ini.</p>
                    <h5><b>Informasi apa saja yang dikumpulkan oleh emam.id?
                        </b></h5>
                    <p>Kami mengumpulkan informasi pengguna ketika pengguna melakukan registrasi di situs emam.id,
                        informasi tersebut berupa: nama, alamat e-mail, dan informasi pribadi lain. ketika pengguna
                        melakukan registrasi di emam.id, kami berhak untuk menyimpan informasi pribadi pengguna dan
                        password terenkripsi.</p>
                    <h5><b>Untuk apa informasi yang dikumpulkan oleh emam.id?</b></h5>
                    <ul>
                        <li>personalisasi pengalaman pengguna saat mengakses emam.id. Informasi yang diberikan akan
                            membantu emam.id untuk dapat menanggapi kebutuhan individu pengguna.</li>
                        <li>Untuk meningkatkan kualitas situs emam.id. kami berupaya untuk meningkatkan kualitas situs
                            emam.id berdasarkan informasi dan feedback yang diberikan oleh pengguna.
                        </li>
                        <li>Untuk meningkatkan layanan pelanggan (Customer Service). Informasi pengguna akan membantu
                            kami menanggapi permintaan layanan pelanggan dan kebutuhan pengguna secara efektif.
                        </li>
                        <li>Informasi pengguna, baik publik dan/atau pribadi, tidak akan dijual, ditukar, ditransfer
                            atau diberikan kepada perusahaan lain untuk alasan apapun, tanpa persetujuan pengguna.</li>
                        <li>Untuk mengelola promosi, survei atau fitur situs emam.id.</li>
                        <li>Untuk pengiriman email berkala (newsletter, update). Alamat email yang pengguna berikan
                            dapat digunakan sebagai alur informasi dan pembaruan yang berkaitan dengan layanan yang
                            ditawarkan oleh situs emam.id.
                        </li>
                    </ul>
                    <h5><b>Apakah emam.id membuka / menyebarkan informasi ke pihak luar?</b></h5>
                    <p>emam.id tidak menjual, memperdagangkan atau mentransfer informasi pribadi pengguna kepada pihak
                        luar tanpa persetujuan pengguna situs emam.id</p>
                    <h5><b>Perubahan terhadap kebijakan privasi</b></h5>
                    <ul>
                        <li>
                            Kebijakan privasi ini dapat berubah/diperbaharui dari waktu ke waktu tanpa pemberitahuan
                            sebelumnya. Jika terdapat pembaharuan/perubahan, emam.id akan memperbaharui informasi
                            kebijakan privasi di laman ini.
                        </li>
                        <li>
                            Dengan tetap mengakses dan menggunakan layanan emam.id, maka pengguna dianggap menyetujui
                            perubahan-perubahan dalam Kebijakan Privasi ini.
                        </li>
                    </ul>
                    <h5><b>Syarat dan Ketentuan</b></h5>
                    <p>Silahkan kunjungi laman <a href="/terms">syarat dan ketentuan</a> kami yang
                        menetapkan penggunaan dan batasan tanggung jawab yang mengatur kebijakan penggunaan situs
                        emam.id.</p>
                    <h5><b>Hubungi kami</b></h5>
                    <p>Jika ada pertanyaan terkait kebijakan privasi emam.id, pengguna dapat menghubungi kami <a
                            href="/about#contactus">disini</a>.
                    </p>
                    <p class="mt-4">*diperbaharui pada tanggal 2 Desember 2020</p>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.html') %>