<%- include('./partials/header.html') %>
    <%- include('./partials/top-nav.html') %>
        <main>
            <div class="container">
                <div class="pd-layout-section">
                    <h3>Syarat dan Ketentuan</h3>
                    <p class="mt-4"><b>Pembaharuan terakhir pada 18 September 2020</b>. Syarat dan ketentuan ini
                        (kedepannya akan disebut "<b>Ketentuan</b>") efektif
                        berlaku bagi pengguna yang mengakses atau menggunakan Layanan kami sejak 9 September 2020.</p>
                    <p>Ketentuan ini mengatur akses anda ke dan penggunaan product dan layanan kami, termasuk yang
                        ditawarkan melalui situs
                        web, acara, komunikasi (misalnya email, panggilan telepon, dan teks) (secara kolektif akan
                        disebut "<b>Layanan</b>"). Dengan
                        mengakses atau menggunakan Layanan, anda dianggap telah membaca, mengerti, memahami dan
                        menyetujui Ketentuan ini, yang
                        merupakan kontrak yang mengikat secara hukum dengan PT. Zaki Indonesia Mendunia. Apabila ada
                        yang kurang jelas, dapat
                        menghubungi <a href="/about#contactus">kami disini</a>. Pihak emam.id berhak
                        merubah syarat dan
                        ketentuan kapanpun apabila diperlukan.</p>
                    <h5><b>1. Penjelasan emam.id sebagai aggregator tempat makan</b></h5>
                    <p>emam.id adalah aggregator tempat makan yang memberikan informasi yang paling akurat tentang
                        tempat makan di kota Bandung.</p>
                    <h5><b>2. Penjelasan sumber informasi tempat makan</b></h5>
                    <p>Tempat makan yang terdaftar di <a href="/">emam.id</a> namun belum di klaim oleh pemilik usaha
                        menggunakan informasi yang didapatkan dengan cara :</p>
                    <ul>
                        <li>Mengunjungi lokasi langsung sebagai pelanggan tempat makan;</li>
                        <li>Mencari informasi dari sumber informasi yang tersedia di internet;</li>
                        <li>Kombinasi semua cara yang ada di atas.</li>
                    </ul>
                    <p>Tempat makan yang terdaftar di <a href="/">emam.id</a> dan telah terdaftar sebagai emam verified
                        menggunakan
                        informasi yang didapatkan dengan cara :
                    </p>
                    <ul>
                        <li>Langsung diberikan ketika anda memberikan kepada kami.</li>
                    </ul>
                    <h5><b>3. Persyaratan penggunaan layanan bisnis</b></h5>
                    <p>Bagi pemilik bisnis, untuk mengakses atau menggunakan <b>Layanan</b> kami, anda menyetujui bahwa
                        :</p>
                    <ul>
                        <li>Anda memiliki kewenangan untuk bertindak atas nama bisnis atau bisnis yang terkait;</li>
                        <li>Akses anda untuk memperbaharui informasi hanya akan dalam kapasitas anda sebagai perwakilan
                            resmi bisnis anda;</li>
                        <li>Bisnis anda mematuhi hukum yang berlaku dan tidak menawarkan, mengiklankan, menjual, atau
                            menyewakan produk dan / atau
                            layanan ilegal;</li>
                        <li>Anda mengizinkan emam.id lisensi terbatas yang tidak dapat dipindahtangankan, tidak
                            eksklusif, bebas royalti, untuk
                            menampilan situs web publik anda pada <b>Layanan</b> kami;</li>
                        <li>Kami dapat menghubungi anda, termasuk melalui telepon atau email, menggunakan informasi
                            kontak yang anda berikan kepada
                            kami;</li>
                        <li>Anda tidak akan menggunakan merek dagang atau merek <b>Layanan</b> emam.id dengan cara apa
                            pun tanpa persetujuan tertulis
                            sebelumnya dari emam.id;</li>
                        <li>Turut mendukung dengan berkolaborasi untuk pengembangan emam.id untuk menciptakan ekosistem
                            kuliner digital.</li>
                    </ul>
                    <h5><b>4. Kontak</b></h5>
                    <p>Apabila Pengguna memiliki pertanyaan, mohon email kami di tanya@emam.id.</p>
                    <p class="mt-4">Copyright (c) 2019 PT Zaki Indonesia Mendunia, All Rights Reserved.</p>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.html') %>