<%- include('./partials/header.html') %>
<%- include('./partials/top-nav.html') %>
<main>
    <div class="container-fluid">
        <section class="section-underconstruction row justify-content-center" id="underconstruction">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <div class="img-layout">
                            <img class="img-underconstruction" src="/assets/images/emam-underconstruction.png" alt="Under construction image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<%- include('./partials/footer.html') %>